.TodoItem {
    width:80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    margin: 0.4rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-inline-start: 0;
  }
.Item-check{
  background: url("../Assets/gray-circle.svg") no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 2.5em;
  height: 2.5em;
  border: none;
  cursor: pointer;

}

  .Item-check--active {
    background: url("../Assets/circle-check.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor: pointer;
  }

  .TodoItem .Item-close {
    background: url("../Assets/x.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
    width: 1.2em;
    height: 1.2em;
    border: none;
    cursor: pointer;
  }
  
  .TodoItem .Item-close:hover {
    background: url("../Assets/x-red.svg") no-repeat;
    background-size: 90%;
    background-position: center center;
  }
  .TodoItem-p--complete{
  text-decoration: line-through;
   
  } 