.form2{margin:0px 0px 30px;
    display:flex;
    border:1px solid #DFE1E5;
    border-radius:50px;
    max-width:260px;
    align-items: center;
}

.createt{
    flex:1;
    display:flex;
    padding:2px;

}